header, footer {
  height: 55px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 100;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
  position: fixed;
  bottom: 0;
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

main {
  padding-top: 55px;
}

@media (max-width: 700px) {
  footer {
    display: block;
  }

  main {
    padding-bottom: 55px;
  }
}
