<div class="modal-window">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title">Добавление стадии</p>
            <button class="button cancel-button close-modal-button" (click)="modalService.closeModal()">✕</button>
        </div>
        <div id="modal-data">
            <div class="modal-item">
                <label>Название</label>
                <input class="input" [(ngModel)]="newStage!.name">
            </div>
            <div class="modal-item">
                <label>Описание</label>
                <textarea class="input" [(ngModel)]="newStage!.description"></textarea>
            </div>
            <div class="modal-item">
                <label>Дедлайн</label>
                <input type="date" 
                min="{{defaultDeadline() | date:'yyyy-MM-dd'}}"
                class="input"
                (ngModelChange)="newStage!.deadline = $event"
                [ngModel]="newStage!.deadline | date:'yyyy-MM-dd'">
            </div>
        </div>
        <div class="modal-footer">
            <button class="apply-button button" (click)="addStage()">Добавить</button>
        </div>
    </div>
</div>