<form [formGroup]="authGroup">
  <fieldset>
    <legend>
      Authorization
    </legend>
    <div class="form-field">
      <div class="error-message" *ngIf="authGroup.controls['email'].invalid && authGroup.controls['email'].touched">
        Invalid email address
      </div>
      <label>Email</label>
      <input class="input" name="email" formControlName="email">
    </div>
    <div class="form-field">
      <div class="error-message" *ngIf="authGroup.controls['password'].invalid && authGroup.controls['password'].touched">
        Password should contain at least 5 symbols
      </div>
      <label>Password</label>
      <input class="input" name="password" type="password" formControlName="password">
    </div>
  </fieldset>
  <div class="form-buttons">
    <button class="button" (click)="signIn()">
      Sign in
    </button>
    <button class="button" (click)="signUp()">
      Sign up
    </button>
  </div>
</form>
