<div id="current-project-container">
    <div id="current-project-header">
        <h3>{{currentProject?.name}}</h3>
        <div id="current-project-actions">
            <button class="button action-button" (click)="editCurrentProjectModal()">✎</button>
            <button class="button action-button cancel-button" (click)="deleteCurrentProject()">✕</button>
        </div>
    </div>
    <p>{{currentProject?.description}}</p>
</div>
<app-edit-project
    *ngIf="modalService.isModalOpened('edit-project')"
    [parent]="this"
    [projectToEdit]="currentProject"></app-edit-project>