#current-project-container {
    margin: 0 30px;
    background-color: rgba(152, 210, 228, 0.3);
    border-radius: 5px;
    padding: 5px;
}

#current-project-container > p {
    margin: 5px;
    text-align: center;
}

#current-project-header {
    display: flex;
    justify-content: center;
}

#current-project-header > h3{
    margin: 5px 10px 5px 5px;
    font-size: 20px;
    transform: translateY(8px);
}

#current-project-actions > * {
    margin: 5px;
}

@media (max-width:700px) {
    #current-project-container {
        margin: 0 20px;
    }
}