<div class="modal-window">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title">Изменение вложения</p>
            <button class="button cancel-button close-modal-button" (click)="modalService.closeChild()">✕</button>
        </div>
        <div id="modal-data">
            <div class="modal-item">
                <label>Название</label>
                <input class="input" [(ngModel)]="attachment!.name">
            </div>
        </div>
        <div class="modal-footer">
            <button class="apply-button button" (click)="editAttachment()">Изменить</button>
        </div>
    </div>
</div>