<div id="projects-manager-container">
    <app-fields
        (currentProjectChanged)="onCurrentProjectChanged($event)"
        [currentProject]="currentProject"></app-fields>
    <app-project
        (currentProjectDeleted)="onCurrentProjectDeleted($event)"
        (stageAdded)="onStageAdded($event)"
        [currentProject]="currentProject"
        *ngIf="currentProject"></app-project>
    <app-stages
        [currentProject]="currentProject"
        (stageEditedOrDeleted)="onStageEditedOrDeleted()"
        *ngIf="currentProject"></app-stages>
</div>
