<section id="homepage-intro">
  <h1>Обучение начинается здесь</h1>
 </section>
<section id="homepage-info">
  <article id="about">
    <h2>Что такое Magik</h2>
    <p>Magik - это сервис для управления персональными проектами обучения.</p>
    <p>Он помогает контролировать процессы обучения и управлять ими.</p>
  </article>
  <img src="assets/project.png">
  <img src="assets/communicate.png">
  <article id="communicate">
    <h2>Общение</h2>
    <p>Здесь ты можешь общаться с единомышленниками и узнавать много нового каждый день.</p>
    <p>Сервис поможет найти людей с похожими интересами и целями.</p>
  </article>
</section>
