<div id="profile-contacts-container">
    <h2>Контакты</h2>
    <div id="contacts-search-container">
        <p>Найти пользователей</p>
        <input class="input" [(ngModel)]="searchField"/>
        <div id="contacts-search-actions">
            <button class="button" (click)="searchContactsByName()">По имени</button>
            <button class="button" (click)="searchContactsByDescription()">По описанию</button>
            <button class="button cancel-button" (click)="showContacts()">Сброс</button>
        </div>
    </div>
    <div *ngIf="isContactsShown" id="account-contacts-container">
        <div class="contact" *ngFor="let contact of acceptedContacts">
            <div class="contact-info">
                <img *ngIf="contact.icon" [src]="getContactIconSource(contact)">
                <img *ngIf="!contact.icon" src="assets/empty-profile.png">
                <p>{{contact.username}}</p>
            </div>
            <div class="contact-actions">
                <button class="button action-button" (click)="openProfileModal(contact)">!</button>
                <button (click)="deleteContact(contact)" class="button action-button cancel-button">✕</button>
            </div>
        </div>
        <div class="contact" *ngFor="let contact of requestedContacts">
            <div class="contact-info">
                <img *ngIf="contact.icon" [src]="getContactIconSource(contact)">
                <img *ngIf="!contact.icon" src="assets/empty-profile.png">
                <p>{{contact.username}}</p>
            </div>
            <div class="contact-actions">
                <button class="button action-button apply-button" (click)="acceptContact(contact)">✓</button>
                <button class="button action-button" (click)="openProfileModal(contact)">!</button>
                <button (click)="declineRequest(contact)" class="button action-button cancel-button">✕</button>
            </div>
        </div>
    </div>
    <div *ngIf="isSearchedProfilesShown" id="searched-profiles-container">
        <div class="contact" *ngFor="let contact of searchedContacts">
            <div class="contact-info">
                <img *ngIf="contact.icon" [src]="getContactIconSource(contact)">
                <img *ngIf="!contact.icon" src="assets/empty-profile.png">
                <p>{{contact.username}}</p>
            </div>
            <div class="contact-actions">
                <button class="button action-button apply-button" (click)="sendRequestToProfile(contact)">✓</button>
                <button class="button action-button" (click)="openProfileModal(contact)">!</button>
            </div>
        </div>
    </div>
</div>
<app-profile-show *ngIf="modalService.isModalOpened('show-profile')"
    [profile]="openedProfile">
</app-profile-show>
