<div id="profile-contacts-container">
    <h2>Контакты</h2>
    <div id="contacts-search-container">
        <p>Найти пользователей</p>
        <input class="input"/>
        <div id="contacts-search-actions">
            <button class="button">По имени</button>
            <button class="button">По описанию</button>
            <button class="button cancel-button">Сброс</button>
        </div>
    </div>
    <div *ngIf="isMyContactsShown" id="account-contacts-container">
        <div class="contact" *ngFor="let contact of acceptedContacts">
            <div class="contact-info">
                <img [src]="getContactIconSource(contact)">
                <p>{{contact.username}}</p>
            </div>
            <div class="contact-actions">
                <button class="button action-button">!</button>
                <button (click)="deleteContact(contact)" class="button action-button cancel-button">✕</button>
            </div>
        </div>
        <div class="contact" *ngFor="let contact of requestedContacts">
            <div class="contact-info">
                <img [src]="getContactIconSource(contact)">
                <p>{{contact.username}}</p>
            </div>
            <div class="contact-actions">
                <button class="button action-button apply-button">✓</button>
                <button class="button action-button">!</button>
                <button (click)="deleteContact(contact)" class="button action-button cancel-button">✕</button>
            </div>
        </div>
    </div>
    <div *ngIf="isSearchedProfilesShown" id="searched-profiles-container">
        
    </div>
</div>