#fields-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: auto;
    margin: 5px auto 15px auto;
    padding: 10px 0;
    width: 95%;
    height: 160px;
    border-bottom: 1px solid rgb(173, 173, 173);
}

.field {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.field-icon {
    flex: 0 0 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.field-icon > img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(61, 61, 61, 0.3);
}

.field-icon > img:hover{
    filter: brightness(0.95);
}

.field-icon > p {
    height: 2.1rem;
    width: 100px;
    overflow: hidden;
}

/*Далее стили связанные с текущей областью*/

#current-field-container {
    margin: 5px auto 15px auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    max-height: 160px;
    border-bottom: 1px solid rgb(173, 173, 173);
}

#current-field-area {
    display: flex;
    justify-content: space-between;
}

#current-field-header {
    display: flex;
    margin-bottom: 10px;
    max-width: 80%;
}

#current-field-header > * {
    margin: 0 5px;
}

#current-field-header > h3 {
    transform: translateY(7px);
    height: 25px;
    font-size: 20px;
    overflow: hidden;
}

#current-field-header > button {
    min-width: 40px;
}

#current-field-operations {
    display: flex;
    max-width: 40%;
}

#current-field-operations > * {
    margin-left: 5px;
}

#current-field-operations:nth-child(1) {
    font-size: 40px;
}

#projects-container {
    overflow-y: auto;
    min-width: 40%;
}

#projects-container > * {
    display: flex;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    overflow-x: hidden;
    cursor: pointer;
}

#projects-container > *:hover {
    filter: brightness(0.95);
}

.selected-project {
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 700px) {
    .field-icon > img{
        height: 90px;
        width: 90px;
    }

    #current-field-header {
        max-width: 60%;
    }
}