/* You can add global styles to this file, and also import other style files */
@import "global-styles/modal-styles.css";
@import "global-styles/animations.css";
@import "global-styles/button-styles.css";
@import "global-styles/input-styles.css";
@import "global-styles/color-styles.css";
@import "global-styles/select-styles.css";
@import "global-styles/other-styles.css";

@font-face {
  font-family: Raleway;
  src: url("assets/Raleway-VariableFont_wght.ttf")
}

* {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.base-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 700px) {
  .base-container {
    padding: 0;
  }
}




