#stages-container {
    margin: 10px 25px;
    padding: 5px;
    height: 1000px;
    border-radius: 5px;
    background-color: rgba(180, 217, 228, 0.3);
}

@media (max-width: 700px) {
    #stages-container {
        margin: 10px 20px;
    }
}