#project-areas-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: auto;
    margin: 5px auto 15px auto;
    padding: 10px 0;
    width: 95%;
    border-bottom: 1px solid rgb(173, 173, 173);
}

.project-area {
    margin: 0 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.project-area-icon {
    flex: 0 0 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-area-icon > img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(61, 61, 61, 0.3);
}

.project-area-icon > img:hover{
    filter: brightness(0.95);
}

.project-area-icon > p {
    height: 2.1rem;
    width: 100px;
    overflow: hidden;
}

.project-area-edit {
    height: 100px;
    width: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slow-show .5s;
}

.project-area-edit > button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    margin: 6px;
    color: white;
    background: black;
}

.project-area-edit > button:hover {
    filter: brightness(0.8);
}

@media (max-width: 700px) {
    .project-area-icon > img{
        height: 90px;
        width: 90px;;
    }

    .project-area-edit {
        height: 90px;
    }

    .project-area-edit > button {
        width: 38px;
        height: 45px;
        font-size: 16px;
        margin: 5px;
        transform: translateX(-10px);
    }
}