<div id="project-areas-container">
    <div class="project-area"
        [class.active-project-area]="currentProjectArea === area"
        *ngFor="let area of projectAreas">
        <div class="project-area-icon">
            <img [src]="getUrlFromIcon(area.icon)"
                (click)="currentProjectArea === area ? currentProjectArea = undefined : currentProjectArea = area">
            <p>{{area.name}}</p>
        </div>
        <div class="project-area-edit" 
            *ngIf="currentProjectArea === area">
            <button class="button"
                (click)="editProjectAreaModal()">✎</button>
            <button class="button"
                (click)="deleteProjectArea(area)">🞪</button>
        </div>
    </div>
    <div id="add-project-area" 
        class="project-area project-area-icon" 
        (click)="addProjectAreaModal()">
        <img src="assets/add-project-area.png">
        <p>Создать</p>
    </div>
</div>
<app-add-project-area 
    *ngIf="modalService.isModalOpened('add-project-area')"
    [parent]="this"></app-add-project-area>
<app-edit-project-area 
    *ngIf="modalService.isModalOpened('edit-project-area')"
    [parent]="this"></app-edit-project-area>