<div class="modal-window">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title">Изменение проекта</p>
            <button class="button cancel-button close-modal-button" (click)="modalService.closeModal()">✕</button>
        </div>
        <div id="modal-data">
            <div class="modal-item">
                <label>Название</label>
                <input class="input" [(ngModel)]="projectToEdit!.name">
            </div>
            <div class="modal-item">
                <label>Описание</label>
                <textarea class="input" [(ngModel)]="projectToEdit!.description"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="apply-button button" (click)="editProject()">Изменить</button>
        </div>
    </div>
</div>