<div class="modal-window">
    <div class="modal-content">
        <button class="button" (click)="modalService.closeModal()">✕</button>
        <div id="new-project-area-data">
            <div class="new-project-area-item">
                <label>Название</label>
                <input [(ngModel)]="newArea.name">
            </div>
            <div class="new-project-area-item">
                <label>Иконка</label>
                <input #choosePhoto
                    type="file"
                    accept="image/*"
                    hidden
                    (change)="editPhotoEvent($event)">
                <button class="button" (click)="choosePhoto.click()">
                    Загрузить
                </button>
            </div>
        </div>
        <button class="button" (click)="addNewProjectArea()">Добавить</button>
    </div>
</div>